body{
    font-family: roboto;
    background-color: #8E0E00;
    background: linear-gradient(to right, #78AEDD , #24211D);
}
#container{
    width: 360px;
    height: 525px;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0);
    margin: 100PX auto;
    border-radius: 20px;

}
#container h1{
    background-color: #1F030C;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
p{
    padding-left: 20px ;
}
form input[type="text"]{
    width : 90px;
}
input{
    padding-left: 20px;
}
#billamt{
    font-size: 14px;
    color: red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}
#billamp:focus{
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#peopleamp{
    width: 60%;
    padding: 5px 5px 8px 8px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
}
#servicesQuality{
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
}
button{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}
button:hover{
    background: #4c2827;
    border-bottom-color: #111;
}
button:active{
    position: relative;
    top: 1px;
}


#totalTip{
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}
#totalTip:before{
    content: "Tip Amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
#totalTip sup{
    font-size: 20px;
}
#totalTip small{
    font-size: 20px;
    font-weight: bold;
    display: block;
}